FinalProjectWorkflow.json
{
  "name": "FinalProjectWorkflow",
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Youre a chatbot. dont print out what youre thinking"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -96,
        -96
      ],
      "id": "bb08e7fb-6c11-455e-bc06-d11129d35575",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "qwen3:0.6b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -128,
        128
      ],
      "id": "9405b3d9-0660-42cb-a0b4-37160c557c97",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "1G1IKxBlKb9QEiJk",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -112
      ],
      "id": "50b47020-365b-433b-ab6b-93fa917ab374",
      "name": "When chat message received",
      "webhookId": "af954bee-ce87-4b9e-8616-5b56c4f176d2"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "UgBBYS2sOqTuMpoF3BR0",
          "mode": "list",
          "cachedResultName": "Mark - Natural Conversations"
        },
        "text": "={{ $json['text'] }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        352,
        -96
      ],
      "id": "4dfc720a-1c05-429d-9632-9f21ca6eed1e",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "IubnOrQ9o2q87TXe",
          "name": "ElevenLabs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a8150dc-1f77-43f0-b249-07182ea5a885",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ec7cc14874114a3c8d027fe1eaaee0035e103392719b11f385ea0e979bc1eee"
  },
  "id": "5PjBEtT7BFGc5MNP",
  "tags": []
}